# Gradle
.gradle/
build/

# Java
*.class
*.log

# Secret / key
*.key
*.pem
*.jks
*.p12
*.keystore
key/
secret/

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse / STS
.classpath
.project
.settings/
.factorypath

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db